/* GENERAL STYLE */
*{
  box-sizing: border-box;
}

img{
  max-width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  /* background-color: #f4f4f4; */
   background-color:cadetblue;
}

/* NAVBAR */
.navbar {
  width: 100%;
  max-width: 1200px;
  height: 70px;
  margin: 0 auto;
  background-color: #222;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 40px;

}

.logo {
  font-size: 28px;
  font-weight:500px;
}

.burger {
  display: none;
}

.burger:hover ,.logo:hover{
      color:#ffcc00;
 }

 .navbar .logo span{
   font-size:xx-small;
   color:#ffcc00;

 }
.nav-links {
  display: flex;
  gap: 40px;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav-links a:hover {
  color: #ffcc00;
}

/* HERO SECTION */
.hero {
  width:100%;
  max-width: 1200px;
  height: auto;
  margin: 40px auto;
  background-color: white;

  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 40px;
}

.hero_container{
  display:grid;
  justify-content: center;
  gap: 10px;
  width:100%;
  max-width: 1200px;
}

.hero-text {
  width: 550px;
  margin-bottom: 100px;
}

.hero-text h1 {
  font-size: 52px;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 22px;
  line-height: 1.5;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  width: 180px;
  height: 50px;
  background-color: #222;
  color: white;

  text-align: center;
  line-height: 50px;
  text-decoration: none;
  font-size: 18px;

  border-radius: 20px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
}

.btn:hover {
  background-color: #444;
}

.hero-image {
  width: 100%;
  max-width: 500px;
  height: 250px;
  object-fit: cover;
  margin-left: 30px;
    border-radius: 20px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
}

.hero-image:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(99, 102, 241, 0.4);
}

/* ABOUT SECTION */
.about {
  width: 100%;
  max-width: 1200px;
  /* height: 420px; */
  height:auto;
  margin: 40px auto;
  background-color: white;

  display: flex;
  align-items: center;

  padding: 40px;
}

.about_container{
 display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;

}
.about-image {
  width: 100%;
  max-width: 380px;
  height: 250px;
  object-fit: cover;
  margin-left: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
}

.about-image:hover{
   transform: translateY(-10px);
   box-shadow: 0 10px 30px rgba(99, 102, 241, 0.4);
}

.about-text {
  width: 550px;
  margin-left: 70px;

}

.about-text h2 {
  font-size: 42px;
}

.about-text p {
  font-size: 22px;
  line-height: 1.6;
}

/* SKILLS SECTION */
.skills {
  width:100%;
  max-width: 1200px;
  margin: 40px auto;
  background-color: white;
  padding: 40px;
  text-align: center;
}

.skills h2 {
  font-size: 42px;
}

.skills-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.skill-card {
  width: 220px;
  height: 120px;
  background-color: #222;
  color: white;

  font-size: 28px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 20px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
}

.skill-card:hover{
   transform: translateY(-10px);
   box-shadow: 0 10px 30px rgba(99, 102, 241, 0.4);
}

/* CONTACT SECTION */
.contact {
  width:100%;
  max-width: 1200px;
  margin: 40px auto;
  background-color: white;
  padding: 40px;
  text-align: center;
}

.contact h2 {
  font-size: 42px;
}

.contact-box {
  width: 700px;
  margin: 0 auto;
  background-color: #eee;
  padding: 30px;
    border-radius: 20px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
}

.contact-box p {
  font-size: 22px;
}

/* FOOTER */
footer {
  width:100%;
  max-width: 1200px;
  height: 80px;
  margin: 0 auto;
  background-color: #222;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-size: 18px;
}






/* MOBILE RESPONSIVE DESIGN */

@media screen and (max-width: 1024px) {
 
  .skills-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 100px;
    gap: 2rem;
    margin: 0 auto;

  }

}





@media (max-width: 768px) {

    .navbar {
        height: auto;
        flex-direction: row;
        padding: 20px;
        position:relative;
    }
    
    .burger {
      display:block;
      background: none;
      border: none;
      color: white;
      font-size: 30px;
      cursor: pointer;
     }

  

    .nav-links {
       display: none;
       flex-direction: column;  
       gap: 15px;
       background-color: #222;
       position: absolute;
        top: 70px;  
        right: 0;
        width: 200px;
        padding: 20px;
        text-align:right;
    }

    .nav-links.show {
        display: flex;
    }

    .hero {
        flex-direction: column;
        /* padding: 30px 20px; */
        padding: 3rem 5% ;
        text-align: center;
       min-height: auto;
        
    }

    .hero-text {
        width: 100%;
    }

    .hero-text h1 {
         
        font-size: 36px;
    }

    .hero-text p {
        font-size: 18px;
    }

    .hero_container{
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        order:-1;
    }
    .hero-image {
        margin-left: 0;
        margin-top: 30px;
    }

    .about {
        flex-direction: column;
        text-align: center;
        padding: 30px 20px;
     }

     .about_container{
        grid-template-columns: 1fr;
        gap: .5rem;
     }

    .about-image {
        margin-left: 0;
        margin-top: 30px;
    }

    .about-text {
        width: 100%;
        margin-left: 0;
        margin-top: 30px;
    }

    .about-text h2 {
        font-size: 34px;
    }

    .about-text p {
        font-size: 18px;
    }

    .skills-container {
        /* flex-direction: column;
        align-items: center;
        margin-top: 30px; */
       grid-template-columns: 1fr;
       gap: 2.5rem;
    }

    .skill-card {
        padding:2rem 2.5rem;
        width: 100%;
        max-width: 300px;
    }

    .contact-box {
        width: 100%;
    }

    .contact-box p {
        font-size: 18px;
    }

    footer {
        padding: 20px;
        text-align: center;
    }
}